.h1{
    font-size: 2rem;
    color: #000;
    text-align: center;
}
.h2{
    font-size: 1rem;
    color: #000;
    text-align: center;
}


.p{
    font-size: 1.3rem;
    line-height: 2;
    border: 1px solid #000;
    padding: 25px 50px;

}